<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flights.airline %></div>
  <div>Airport: </div>
  <div><%= flights.airport %></div>
  <div>Flight Number: </div>
  <div><%= flights.flightNum %></div>
  <div>Departure Date/Time: </div>
  <div><%= flights.depart ? 'Date' : 'Time' %></div>
  <!-- start cast list -->

  
<%- include('../partials/footer') %>