<%- include('../partials/header') %>
<h2>Current Flights</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Depart</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(m) { %>
      <tr>
        <td><a href="/flights/<%= t.id %>"><%= t.airline %></a></td>
        <td><%= t.airport %></td>
        <td><%= t.flightNum %></td>
        <td><%= t.depart %></td>
        <td><a href="/flights/<%= t._id %>">Flight Details</a></td>
        <td>
          <% t.destinations.forEach(destination => { 
            %> <%= destination.airport %>
            <%= destination.arrival %>
            <%
          }) %>
        </td>
      </tr>
      <% });%>
    </tbody>
  </table>

  
<%- include('../partials/footer') %>